[main]
# docs: https://www.pgcli.com/config
less_chatty = True
{{ if lookPath "pspg" -}}
pager = 'pspg --quit-if-one-screen --reprint-on-exit'
{{- else -}}
pager = 'less --quit-if-one-screen --chop-long-lines --ignore-case --no-init'
{{- end }}
